<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Fake news detector</title>
    <link rel="shortcut icon" href="">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <h1>Is the news you read on the Internet reliable?</h1>
    {% block content %} {% endblock %}
</body>