{% extends 'base.html' %}
{% block content %}
<div>
    <p>We give this article a bias/unreliability rating of {{score}} out of 100.</p>
    {% if score >= 75 %}
    <p>You should be extra careful about trusting information contained in this article.</p>
    {% elif score >= 50 %}
    <p>You should be careful about trusting information contained in this article.</p>
    {% elif score >= 25 %}
    <p>This article does not appear to be overly biased, but it is always best to verify 
        information that you find on the Internet.
    </p>
    {% else %}
    <p>This article appears to be written objectively, but it is always best to verify 
        information that you find on the Internet.</p>
    {% endif %}
</div>
<div>
    <form action='/relay' method='POST' rows=40 cols=80>
        <div>
            <label for='form-area'>Paste in another article?</label>
            <textarea id='form-area' name='article' required></textarea>
        </div>
        <div>
            <button>Submit article</button>
        </div>
    </form>
</div>


{% endblock %}